@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: none;
}

button, [role="button"] {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}